{% extends 'inventory_management/base.html' %}

{% block title %}
  Home - Inventory Analysis
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <!-- Inventory Analysis Card -->
      <div class="col-md-6">
        {% comment %} <a href="{% url 'inventory_list' %}" class="text-decoration-none">
          {% endcomment %}
          <div class="card shadow-lg text-white bg-primary h-100">
            <div class="card-body d-flex flex-column justify-content-center align-items-center p-4">
              <h3 class="card-title mb-3">Inventory Analysis</h3>
              <p class="card-text text-center fs-5">Manage your stock, products, and supplies efficiently.</p>
              <div class="mt-auto">
                <a href="{% url 'inventoryhome' %}" class="btn btn-light mt-3 px-4 fw-semibold">Go to Inventory</a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
