{% extends "inventory_management/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <div class="text-center mb-4">
            <!-- Logo -->
            <img src="{% static 'images/BoschLogo.png' %}" alt="Logo" class="mb-2" style="max-width: 120px; max-height: 120px;">
            <h3 class="mb-0">Login</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required autofocus>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
             <a href="{% url 'inventoryhome' %}" class="btn btn-primary w-100">Login</a>
           
        </form>
    </div>
</div>
{% endblock %}
